In [32]:
import pandas as pd

In [33]:
pd.__version__

'1.3.5'

In [34]:
df=pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [35]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [36]:
# Create connection to postgres
from sqlalchemy import create_engine

In [37]:
engine = create_engine('postgresql://root:root@localhost:5442/ny_taxi')

In [38]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))
# Create schema for data to be ingested to postgres/how tables will look like in sql from csv

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [39]:
# use iterator to chunk the data insto smaller chunks to insert to db instead of all records at once
df_iter=pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

In [41]:
len(df)

100000

In [42]:
df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

In [43]:
# insert first row n=0 that contains name of rows
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [44]:
# add the rest of data coming in in chunks
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

In [45]:
# Loop adding next chunks
while True: 
    df = next(df_iter)

    df.tpep_pickup_datetime=pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime=pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

    print('inserted another chunk..')

inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..
inserted another chunk..

/home/burnerb/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3191: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if await self.run_code(code, result, async_=asy):

inserted another chunk..
inserted another chunk..

StopIteration: